
.positive {
    background-color: green;
    color: white;
}

.negative {
    background-color: red;
    color: white;
}

.buttonAmount {
    padding: 0 6px;
    margin: 0 3px;
}

.amountValue {
    max-width: 50px;
}

.btnBottom {
    margin-top: 30px;
}

button.buttonLeft {
    float: left;
    margin-left: 80px;
}

button.buttonRight {
    float: right;
    margin-right: 80px;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-left-1 {
    margin-left: 1em;
}

.margin-right-1 {
    margin-right: 1em;
}