#todo-container{
    margin-top: 1.5em;
}

#todo-container form{
    display: block;

}
#submitItem,
#delete{
    width: 15%;
    margin: 0.2em 1em;
    display: inline-block;
}

.list-group{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item{
    text-align: left;
    display: block;
}

.form-check-label{
    padding-left: 1em;
}

#todoInpuId{
    width: 75%;
    margin: 0.2em 1em;
}

#todo-container .completed {
	color: silver;
}

#todo-container .inline-block{
    display: inline-block;
    width: 20%;
}


